body {
    background-color: black;
}

#dexCase {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px 0px;
    width: 600px;
    margin: 0px 100px;
}
/* #dexCase {
    
    border: rgb(255, 17, 17) 100px solid;
    border-radius: 10%;
} */
.shelterCase{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px 0px;
    width: 800px;
    height: 4000px;
    margin: 0px 250px;
    background-color: rgb(192, 31, 31);
    border-radius: 100px;
}
#camera {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    background-color: rgb(0, 10, 102);
    border-radius: 50%;
    
}
#lente {
    width: 100px;
    height: 100px;
    background-color: rgb(77, 160, 255);
    border-radius: 50%;
}
#dexTitle {
    color: silver;
    font-size: 100px;
    margin: 0px;
    margin-left: 100px;
}
#botaoMain {
    border: 4px solid rgb(68, 68, 68);
    width: 80px;
    height: 80px;
    background-color: rgb(136, 191, 255);
    border-radius: 50%;
}
.pokeBlock {
    text-align: center;
    width: 118px;
    height: 118px;
    color: black;
    padding: 0px;
    background-color: white;
    border: rgb(183, 210, 233) solid 1px;
}
